*{
  box-sizing: border-box;
}
ul, ol{
  padding: 0;
}
li {
  list-style-type: none;
}

a{
  text-decoration: none;
}
body{
font-family: sans-serif;
width: 100%;

}

p{
  font-family: 'Quicksand', sans-serif;
}
.logo{
  border-radius: 66%;
  margin: 0 auto;
  width: 180px;
  display:block;
  margin-top: 50px;
  margin-bottom: 50px;
  }
  div.icon{
    margin-top: 5px;
    position: absolute;
    top: 2%;
    width: 10px;
  }

  header a span.fa {
    background-color: gray;
    font-size: 50px;
    padding: 20px;
    color: white;
    margin: 0 auto;
    width: 85px;
    display: block;
    margin-top: 15px;
    left: 50%;
    trasform: translateX(-50%);
    margin-bottom: 10px;

  }
  header{
    margin-bottom: 20px;
    text-align: center;
  }
  header a{
    text-decoration: none;
    color:white;
    padding-left: 0;
  }

  ul.barra {
    padding-left: 0;
    list-style: none;
    display: none;
  }

ul.barra li {
  background-color: grey;
  text-align: center;
  padding: 10px;
  margin-bottom: 3px;
  text-transform: uppercase;
}
header ul{
  list-style: none;
  padding-left: 0;s
  display: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav:hover ul{
  display: block;

}
div.photo-container{
  position: relative;
}
img.photo{
  width: 70%;
  height: 300px;;

}
h2{
  color: white;
background-color: #817E7E;
height: 12vh;
text-align: center;
}
.zoom {
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
/* Prodcutos */
.product{
  margin-bottom: 30px;
}
.product .photo {
  width: 100%;
}
.photo-container{
  position: relative;
}
article.product p {
  color: black;
  background-color:#B3B3B8;
  font-size:20px;

}
a.more{
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
  padding: 10px 15px;
  color:#fff;
  background: #444;
}
header nav:hover ul{
  display: block;

}

.main-footer {
  text-align: center;
}
.logo {
  margin-top: 20px;
  border-radius: 90px;
  border: 1px solid #ccc;
}
.toggle-nav{
  display: inline-block;
  width: 100%;
  margin:20px 0;
}
.toggle-nav span {
  background: #313030;
  color: #fff;
  padding: 10px;
}

.main-footer li {
  background: #313030;
  margin-bottom: 2px;
}

.main-footer a {
  display: inline-block;
  width: 100%;
  padding:8px 0;
  text-transform: uppercase;
  color: #fff;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
  body{
    background-image: url("imagenes/libro.jpg");
    width: 100%;
  }
  h2{
    background-color: black;
    color: white;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  body{
    background-image: url("imagenes/fondohome2.jpg");
    width: 100%;
  }
  .container{
    max-width: 720px;
  }
  .toggle-nav {
    display: none;
  }
  .main-nav ul{
    overflow: hidden;
  }
  .main-nav li{
    float: left;
    width: 15.25%;
    margin-right: 1.69%;
    padding: 8px 0;
  }
  .main-nav li:last-child{
    margin-right: 0;
  }

  .vip-products {
    overflow: hidden;
  }
  article{
    margin: 5%;
    width: 42%;
    padding: 2%;
    float: left;
    height: auto;
  }
  .product:nth-child(even){
    margin-right: 0;
  }
}
@media (min-width:1200px) {
  body{
    background-image: url("imagenes/fondohome3.jpg");

  }
    .container{
    max-width:100%;
  }
section{
  overflow: hidden;

}
  .product{
    float: left;
    width: 29.20%;
    padding: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
  }
  .product:nth-child(even){
    margin-right: 1.694%;
  }
  .product:nth-child(3n){
    margin-right: 0;
  }


  .main-footer {

    background: rgb(68,0,0);
    border-radius: 30px 30px 0 0;
  }

  .main-footer ul {
      overflow: hidden;
    display: inline-block;
    padding: 40px 0;
  }
  .main-footer li {
    float: left;

    padding: 0 10px;
    border-right: 1px solid #fff;
    background: transparent;
    line-height: 6px;
  }
  .main-footer li:last-child{
    border-right: none;
  }
  .main-footer li a{
    text-transform: capitalize;
  }

}
